.MovieInfo {
  text-align: justify;
  flex: 1;
  margin-left: 10px;
  background-color: #ebebeb
}

.MovieInfo p {
  font-family: "Lato", sans-serif;
  padding: 10px;
  font-size: 0.8em;
}

.MovieInfo h2 {
  font-weight: 300;
  letter-spacing: -1px;
  font-size: 2em;
  margin: -40px 0 -20px 0;
  color: #02d9db;
  background-color: #116193;
}

.tags {
  font-family: "Abel", sans-serif;
  background-color: white;
  color: #116193;
  border: 1px solid #116193;
  border-radius: 20px;
  cursor: pointer;
  margin-left: 10px;
}